*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
_yardoc
coverage
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.swp
.bin
tags
.rbenv-version
spec/pacts
.rvmrc
*.iml
.rakeTasks
*~
.ruby-gemset
.ruby-version
log
.idea
reports
