name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ["3.2", "3.3", "3.4"]
        os: ["ubuntu-latest","windows-latest","macos-latest"]
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - uses: pact-foundation/pact-cli@main
      - run: pact plugin install --yes https://github.com/mefellows/pact-matt-plugin/releases/tag/v0.1.1
      - name: Test Pact-Ruby Specs
        run: "bundle exec rake"
      - name: Test Pact-Ruby Consumer Tests
        run: "bundle exec rake pact:v2:spec"
      - name: Test Pact-Ruby Provider Verification
        run: "bundle exec rake pact:v2:verify"
      - name: Test Pact-Ruby Zoo App Specs
        run: "bundle install && bundle exec rake spec:v2"
        working-directory: example/zoo-app
      - name: Test Pact-Ruby v2 Animal Service Specs
        run: "bundle install && bundle exec rake pact:v2:verify"
        if: matrix.os != 'windows-latest'
        working-directory: example/animal-service

  test-with-rack-2:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ["3.2", "3.3", "3.4"]
        os: ["ubuntu-latest","windows-latest","macos-latest"]
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - uses: you54f/pact-cli@main
      - run: pact plugin install --yes https://github.com/mefellows/pact-matt-plugin/releases/tag/v0.1.1
      - run: "bundle exec appraisal install"
      - run: "bundle exec appraisal rack-2 rake"
      - name: Test Mixed Pacts (Http/Kafaka/Grpc)
        run: "bundle exec appraisal rack-2 rake pact:spec"
      - name: Verify Mixed Pacts (Http/Kafaka/Grpc)
        run: "bundle exec appraisal rack-2 rake pact:verify"
        if: matrix.os != 'windows-latest'


  test-with-active-support:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        ruby_version: ["3.2", "3.3", "3.4"]
        os: ["ubuntu-latest","windows-latest","macos-latest"]
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby_version }}
          bundler-cache: true
      - run: "bundle exec appraisal install"
        name: "install active support - pact-ruby"
      - run: "bundle exec appraisal activesupport rake spec_with_active_support"
        name: "test with active support - pact-ruby"
        env:
          LOAD_ACTIVE_SUPPORT: 'true'
